<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
    <!-- <link rel="stylesheet" href="/vgdevcom/public/assets/css/style.css"> -->
    <!-- <script src="/vgdevcom/public/assets/js/script.js"></script> -->
    <!-- <link rel="stylesheet" href="../../public/assets/css/style.css"> -->
    <!-- <script src="../../public/assets/js/script.js"></script> -->
</head>
<body>
    admin
</body>
</html>