<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global Metadata -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <!-- Standard Metadata -->
    <title>VG | Web Developer</title>
    <meta name="language" content="English">
    <meta name="robots" content="index, follow">
    <!-- <meta name="theme-color" content="#23232e"> -->
    <link rel="canonical" href="https://vg-dev.com">
    <link rel="stylesheet" href="../manifest.json">
    <!-- <meta property="og:image" content="https://example.com/path/to/your/image.jpg"> image to be used when your content is shared on social  -->
    <!-- SEO Metadata -->
    <meta name="keywords"
        content="Georgi, Velev, frontend, design, development, developer, web development, web developer, back-end developer, Front- End">
    <meta name="description" content="Web Developer | Graphic Designer | Freelancer">
    <meta name="author" content="Georgi Velev">
    <!-- Open Graph Metadata for Social Media -->
    <meta property="og:title" content="VG | Web Developer">
    <meta property="og:description"
        content="Web Developer | Graphic Designer | Freelancer | Front- End Developer | Back- End Developer | Web Designer | Graphic Designer">
    <meta property="og:type" content="website">
    <!-- Favicon and Apple Touch Icon -->
    <link rel="shortcut icon"
        href="https://res.cloudinary.com/dxyjh1roq/image/upload/v1660582033/CDN/imgs/gvlogo-ico.ico"
        type="image/x-icon">
    <link rel="apple-touch-icon"
        href="https://res.cloudinary.com/dxyjh1roq/image/upload/v1660580393/CDN/imgs/vg-logo.svg" type="image/x-icon">
    <!-- Stylesheet and Scripts -->
    <link rel="stylesheet" href="../../public/assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../../public/assets/js/script.js"></script>
</head>

<body oncontextmenu="return false">
    client
</body>

</html>